$primary: #daa520;

$input-border-width: 0px;
$input-bg: whitesmoke;
$input-btn-border-width: 1px;
$border-width: 0px;
$input-btn-line-height: 0.5;
$input-btn-focus-color: transparent;



@import "../node_modules/bootstrap/scss/bootstrap"