$primary: #ff4f5a;
$secondary:#ff4f5b49;
$dark: black;
$input-border-width: 0px;
$input-bg: whitesmoke;
$input-btn-border-width: 1px;
$border-width: 0px;
$input-btn-line-height: 0.5;
$input-btn-focus-color: transparent;




@import "../node_modules/bootstrap/scss/bootstrap"